adf-healthcare-claims-priyanka/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-healthcare-claims-priyanka"
		},
		"LS_ADLS_Claims_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_Claims'"
		},
		"LS_ADLS_Claims_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://claimsinformation.dfs.core.windows.net/"
		},
		"LS_CMS_NPI_API_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://npiregistry.cms.hhs.gov"
		},
		"LS_GIT_ICD10_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ClaimsNPIValidationPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WEB_Validate_NPI",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": {
								"value": "@concat('https://npiregistry.cms.hhs.gov/api/?number=', pipeline().parameters.p_provider_npi, '&version=2.1')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "IF_NPI_Exists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "WEB_Validate_NPI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('WEB_Validate_NPI').output.result_count, 0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SET_NPI_Status_Invalid",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "NPIStatus",
										"value": "Invalid NPI"
									}
								},
								{
									"name": "RETURN_NPI_Invalid_Status",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SET_NPI_Status_Invalid",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "NPIStatus",
										"value": "Invalid NPI"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SET_NPI_Status_Valid",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "NPIStatus",
										"value": "Valid NPI"
									}
								},
								{
									"name": "RETURN_NPI_Valid_Status",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SET_NPI_Status_Valid",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "NPIStatus",
										"value": "Valid NPI"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_provider_npi": {
						"type": "string",
						"defaultValue": "1112223339"
					}
				},
				"variables": {
					"NPIStatus": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-09T16:17:52Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Test_NPI_API')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WEB_Validate_NPI",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "SET_Input_NPI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": {
								"value": "@concat('https://npiregistry.cms.hhs.gov/api/?number=', pipeline().parameters.p_provider_npi, '&version=2.1')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "IF_NPI_Exists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "WEB_Validate_NPI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('WEB_Validate_NPI').output.result_count, 0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SET_NPI_Status_Invalid",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "NPIStatus",
										"value": "Invalid NPI"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SET_NPI_Status_Valid",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "NPIStatus",
										"value": "Valid API"
									}
								}
							]
						}
					},
					{
						"name": "SET_Input_NPI",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "InputNPI",
							"value": {
								"value": "@pipeline().parameters.p_provider_npi",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_provider_npi": {
						"type": "string",
						"defaultValue": "1679576722"
					}
				},
				"variables": {
					"NPIStatus": {
						"type": "String"
					},
					"InputNPI": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-08T23:27:45Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_Claims')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_Claims_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_Claims_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CMS_NPI_API')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('LS_CMS_NPI_API_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_GIT_ICD10')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('LS_GIT_ICD10_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Claims_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Claims",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_fileName",
							"type": "Expression"
						},
						"folderPath": "claims",
						"fileSystem": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Claims')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Claims_Landing')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Claims",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "claims",
						"fileSystem": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "claim_id",
						"type": "String"
					},
					{
						"name": "service_date",
						"type": "String"
					},
					{
						"name": "patient_id",
						"type": "String"
					},
					{
						"name": "ssn",
						"type": "String"
					},
					{
						"name": "provider_npi",
						"type": "String"
					},
					{
						"name": "diagnosis_code",
						"type": "String"
					},
					{
						"name": "procedure_code",
						"type": "String"
					},
					{
						"name": "payer",
						"type": "String"
					},
					{
						"name": "billed_amount",
						"type": "String"
					},
					{
						"name": "allowed_amount",
						"type": "String"
					},
					{
						"name": "claim_status",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Claims')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Rejected_Claims_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Claims",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_fileName",
							"type": "Expression"
						},
						"folderPath": "claims",
						"fileSystem": "rejected"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Claims')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Reporting_Claims_Summary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Claims",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "claims_summary",
						"fileSystem": "reporting"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Claims')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Staging_Claims_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Claims",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_fileName",
							"type": "Expression"
						},
						"folderPath": "claims",
						"fileSystem": "staging"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Claims')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Staging_Claims_Folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Claims",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "claims",
						"fileSystem": "staging"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "claim_id",
						"type": "String"
					},
					{
						"name": "service_date",
						"type": "String"
					},
					{
						"name": "patient_id",
						"type": "String"
					},
					{
						"name": "ssn",
						"type": "String"
					},
					{
						"name": "provider_npi",
						"type": "String"
					},
					{
						"name": "diagnosis_code",
						"type": "String"
					},
					{
						"name": "procedure_code",
						"type": "String"
					},
					{
						"name": "payer",
						"type": "String"
					},
					{
						"name": "billed_amount",
						"type": "String"
					},
					{
						"name": "allowed_amount",
						"type": "String"
					},
					{
						"name": "claim_status",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Claims')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Staging_Reference_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Claims",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "icd10_reference",
						"folderPath": "reference",
						"fileSystem": "staging"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Claims')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_GIT_ICD10')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_GIT_ICD10",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "priyankarao89/ADF_Healthcare/refs/heads/main/icd10_reference.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_GIT_ICD10')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ClaimsIngestionPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GET_Source_Claim_Files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_ADLS_Claims_Landing",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "SET_VarClaimFiles",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GET_Source_Claim_Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "VarClaimFiles",
							"value": {
								"value": "@activity('GET_Source_Claim_Files').output.childItems",
								"type": "Expression"
							}
						}
					},
					{
						"name": "FE_Each_Claim_File",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "SET_VarClaimFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('VarClaimFiles')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "IF_Valid_Claims_File",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@and(\n  startswith(item().name, 'Claims_Clinic'),\n  endswith(item().name, '.csv')\n)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "COPY_Invalid_File_To_Rejected",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_ADLS_Claims_File",
														"type": "DatasetReference",
														"parameters": {
															"p_fileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ADLS_Rejected_Claims_File",
														"type": "DatasetReference",
														"parameters": {
															"p_fileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											}
										],
										"ifTrueActivities": [
											{
												"name": "COPY_Valid_Claims_To_Staging",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_ADLS_Claims_File",
														"type": "DatasetReference",
														"parameters": {
															"p_fileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ADLS_Staging_Claims_File",
														"type": "DatasetReference",
														"parameters": {
															"p_fileName": "@item().name"
														}
													}
												]
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "COPY_ICD10_Reference_To_Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "FE_Each_Claim_File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_GIT_ICD10",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_Staging_Reference_File",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SET_ClaimFilesProcessed",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "COPY_ICD10_Reference_To_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "ClaimFilesProcessed",
							"value": {
								"value": "@string(length(variables('VarClaimFiles')))",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"VarClaimFiles": {
						"type": "Array"
					},
					"ClaimFilesProcessed": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-08T22:02:50Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Claims_Landing')]",
				"[concat(variables('factoryId'), '/datasets/DS_GIT_ICD10')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Staging_Reference_File')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Claims_File')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Rejected_Claims_File')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Staging_Claims_File')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ClaimsNPIValidationDriverPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GET_Staged_Claim_Files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_ADLS_Staging_Claims_Folder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "FE_Each_Staged_Claim_File",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GET_Staged_Claim_Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GET_Staged_Claim_Files').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "LOOKUP_First_Claim_Row",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"dataset": {
											"referenceName": "DS_ADLS_Staging_Claims_File",
											"type": "DatasetReference",
											"parameters": {
												"p_fileName": "@item().name"
											}
										}
									}
								},
								{
									"name": "EXEC_Validate_NPI",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "LOOKUP_First_Claim_Row",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ClaimsNPIValidationPipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"p_provider_npi": {
												"value": "@string(activity('LOOKUP_First_Claim_Row').output.firstRow.provider_npi)",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-09T16:34:47Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Staging_Claims_Folder')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Staging_Claims_File')]",
				"[concat(variables('factoryId'), '/pipelines/ClaimsNPIValidationPipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Claims_Validation_Transform')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_ADLS_Staging_Claims_Folder",
								"type": "DatasetReference"
							},
							"name": "sourceClaims"
						},
						{
							"dataset": {
								"referenceName": "DS_ADLS_Staging_Reference_File",
								"type": "DatasetReference"
							},
							"name": "sourceICD10"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_ADLS_Reporting_Claims_Summary",
								"type": "DatasetReference"
							},
							"name": "sink"
						}
					],
					"transformations": [
						{
							"name": "selectClaimsColumns"
						},
						{
							"name": "filterValidClaims"
						},
						{
							"name": "deriveCleanClaims"
						},
						{
							"name": "join"
						},
						{
							"name": "deriveICDValidation"
						},
						{
							"name": "aggregate"
						}
					],
					"scriptLines": [
						"source(output(",
						"          claim_id as string,",
						"          service_date as date,",
						"          patient_id as string,",
						"          ssn as string,",
						"          provider_npi as integer,",
						"          diagnosis_code as string,",
						"          procedure_code as integer,",
						"          payer as string,",
						"          billed_amount as double,",
						"          allowed_amount as double,",
						"          claim_status as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     wildcardPaths:['claims/*.csv']) ~> sourceClaims",
						"source(output(",
						"          diagnosis_code as string,",
						"          description as string,",
						"          category as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> sourceICD10",
						"sourceClaims select(mapColumn(",
						"          claim_id,",
						"          service_date,",
						"          patient_id,",
						"          ssn,",
						"          provider_npi,",
						"          diagnosis_code,",
						"          procedure_code,",
						"          payer,",
						"          billed_amount,",
						"          allowed_amount,",
						"          claim_status",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectClaimsColumns",
						"selectClaimsColumns filter(billed_amount >= 0 && claim_status != 'REJECTED') ~> filterValidClaims",
						"filterValidClaims derive(ssn_masked = concat('XXX-XX-', right(toString(ssn), 4)),",
						"          ssn = toString(null()),",
						"          allowed_amount = coalesce(allowed_amount, billed_amount * 0.8),",
						"          load_date = currentDate()) ~> deriveCleanClaims",
						"deriveCleanClaims, sourceICD10 join(selectClaimsColumns@diagnosis_code == sourceICD10@diagnosis_code,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join",
						"join derive(icd10_valid = !isNull(description)) ~> deriveICDValidation",
						"deriveICDValidation aggregate(groupBy(provider_npi,",
						"          payer,",
						"          icd10_valid),",
						"     total_billed = sum(billed_amount),",
						"          total_allowed = sum(allowed_amount),",
						"          claim_count = count()) ~> aggregate",
						"aggregate sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Staging_Claims_Folder')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Staging_Reference_File')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Reporting_Claims_Summary')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ClaimsValidationTransformPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_Claims_Validation_Transform_Activity",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Claims_Validation_Transform",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sourceClaims": {},
									"sourceICD10": {},
									"sink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-09T20:35:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_Claims_Validation_Transform')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MasterPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "EXEC_Claims_Ingestion",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ClaimsIngestionPipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "EXEC_NPI_Validation_Driver",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "EXEC_Claims_Ingestion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ClaimsNPIValidationDriverPipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "EXEC_Claims_Transform",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "EXEC_NPI_Validation_Driver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ClaimsValidationTransformPipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-09T20:35:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ClaimsIngestionPipeline')]",
				"[concat(variables('factoryId'), '/pipelines/ClaimsNPIValidationDriverPipeline')]",
				"[concat(variables('factoryId'), '/pipelines/ClaimsValidationTransformPipeline')]"
			]
		}
	]
}