pipeline/ClaimsNPIValidationDriverPipeline.json
{
	"name": "ClaimsNPIValidationDriverPipeline",
	"properties": {
		"activities": [
			{
				"name": "GET_Staged_Claim_Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_Staging_Claims_Folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FE_Each_Staged_Claim_File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GET_Staged_Claim_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET_Staged_Claim_Files').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "LOOKUP_First_Claim_Row",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"dataset": {
									"referenceName": "DS_ADLS_Staging_Claims_File",
									"type": "DatasetReference",
									"parameters": {
										"p_fileName": "@item().name"
									}
								}
							}
						},
						{
							"name": "EXEC_Validate_NPI",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "LOOKUP_First_Claim_Row",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ClaimsNPIValidationPipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_provider_npi": {
										"value": "@string(activity('LOOKUP_First_Claim_Row').output.firstRow.provider_npi)",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-07-09T16:34:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}