pipeline/ClaimsIngestionPipeline.json
{
	"name": "ClaimsIngestionPipeline",
	"properties": {
		"activities": [
			{
				"name": "GET_Source_Claim_Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_Claims_Landing",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "SET_VarClaimFiles",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GET_Source_Claim_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "VarClaimFiles",
					"value": {
						"value": "@activity('GET_Source_Claim_Files').output.childItems",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FE_Each_Claim_File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SET_VarClaimFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('VarClaimFiles')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "IF_Valid_Claims_File",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@and(\n  startswith(item().name, 'Claims_Clinic'),\n  endswith(item().name, '.csv')\n)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "COPY_Invalid_File_To_Rejected",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_ADLS_Claims_File",
												"type": "DatasetReference",
												"parameters": {
													"p_fileName": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_ADLS_Rejected_Claims_File",
												"type": "DatasetReference",
												"parameters": {
													"p_fileName": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "COPY_Valid_Claims_To_Staging",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_ADLS_Claims_File",
												"type": "DatasetReference",
												"parameters": {
													"p_fileName": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_ADLS_Staging_Claims_File",
												"type": "DatasetReference",
												"parameters": {
													"p_fileName": "@item().name"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "COPY_ICD10_Reference_To_Staging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FE_Each_Claim_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_GIT_ICD10",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_Staging_Reference_File",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SET_ClaimFilesProcessed",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "COPY_ICD10_Reference_To_Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ClaimFilesProcessed",
					"value": {
						"value": "@string(length(variables('VarClaimFiles')))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"VarClaimFiles": {
				"type": "Array"
			},
			"ClaimFilesProcessed": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-07-08T22:02:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}