pipeline/PL_Test_NPI_API.json
{
	"name": "PL_Test_NPI_API",
	"properties": {
		"activities": [
			{
				"name": "WEB_Validate_NPI",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SET_Input_NPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('https://npiregistry.cms.hhs.gov/api/?number=', pipeline().parameters.p_provider_npi, '&version=2.1')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "IF_NPI_Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "WEB_Validate_NPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('WEB_Validate_NPI').output.result_count, 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "SET_NPI_Status_Invalid",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "NPIStatus",
								"value": "Invalid NPI"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "SET_NPI_Status_Valid",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "NPIStatus",
								"value": "Valid API"
							}
						}
					]
				}
			},
			{
				"name": "SET_Input_NPI",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "InputNPI",
					"value": {
						"value": "@pipeline().parameters.p_provider_npi",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_provider_npi": {
				"type": "string",
				"defaultValue": "1679576722"
			}
		},
		"variables": {
			"NPIStatus": {
				"type": "String"
			},
			"InputNPI": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-07-08T23:27:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}